body {
  width: 75%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  
  padding: 15px;
  margin: 0;
  color: #eeeaea;
  background-image: url("bg_updated.png");
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  gap: 12px;
}
button {
  background: #ff8c42;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 12px;
  font-weight: 600;
  transition: 0.2s ease;
}

button:hover {
  background: #ff7a26;
}

.hero {
  background: rgba(0, 0, 0, 0.35);
  border: 1px solid rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(6px);
  padding: 20px;
  border-radius: 18px;
}

.hero h1 {
  font-size: 22px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 8px;
}

.intro {
  font-size: 15px;
  line-height: 1.6;
  color: #f8f8f8;
}

.intro span {
  font-weight: 700;
  color: #ffdd57; /* subtle highlight */
}

button:disabled {
  background-color: #94d3a2;
  cursor: not-allowed;
}

pre {
  background-color: #333435;
  padding: 10px;
  border-radius: 6px;
  white-space: pre-wrap; 
  word-wrap: break-word;
  max-height: 300px;
  overflow-y: auto;
}

.loading {
  animation: pulse 1.5s infinite;
  color: #57606a;
  text-align: center;
  font-weight: bold;
}

@keyframes pulse {
  0% { opacity: 0.5; }
  50% { opacity: 1; }
  100% { opacity: 0.5; }
}

#copy-button {
  width: 80px;
  background-color: #5c645e;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: small;
  margin-top: 10px;
}
#copy-button:hover{
  animation: copyAnimation 0.5s;
  width:90px;
}
@keyframes copyAnimation {
  from {background-color: #5c645e;}
  to {background-color: #5e8169;}
}
p{
  background: rgba(0, 0, 0, 0.35);
  border: 1px solid rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(6px);
  padding: 20px;
  border-radius: 18px;
}